@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:wght@400;600;700&family=Ubuntu+Mono&display=swap');
@import './variables.scss';
@import './Components/About/About.scss';

body {
  font-family: 'Nunito';
  background-color: $background-color;

  div.main-container {
    margin: 0px 150px;

    @media (min-width: 375px) and (max-width: 767px) {
      margin: 0px 80px;
    }
  }
}
