div.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
  left: 10px;

  div.menu-container {
    display: flex;
    writing-mode: vertical-rl;
    height: 100%;
    justify-content: space-evenly;
  }
}
