@import '../../variables.scss';

div.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
  left: 20px;

  div.menu-container {
    display: flex;
    writing-mode: vertical-rl;
    height: 100%;
    justify-content: space-evenly;

    .menu-item {
      font-family: 'Ubuntu Mono';
      font-size: 1.5rem;

      a {
        color: $secondary;
        text-decoration: none;
        position: relative;

        &:after {
          content: '';
          display: block;
          background-color: $secondary;
          width: 2px;
          height: 100%;
          left: -5px;
          position: absolute;
        }

        &.active-link {
          color: $tertiary;
        }
      }
    }
  }
}
