@import '../../variables.scss';

div.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
  left: 20px;

  div.menu-container {
    display: flex;
    writing-mode: vertical-rl;
    height: 100%;
    justify-content: space-evenly;

    .menu-item {
      button,
      a {
        color: $secondary;
        text-decoration: none;
        position: relative;
        border: none;
        background-color: transparent;
        font-family: 'Ubuntu Mono';
        font-size: 1.5rem;
        padding: 0px;

        &:after {
          content: '';
          display: block;
          background-color: $secondary;
          width: 2px;
          height: 0%;
          left: -5px;
          position: absolute;
        }

        &.active-link,
        &.active-lang {
          color: $tertiary;

          &:after {
            content: '';
            display: block;
            background-color: $tertiary;
            width: 2px;
            height: 100%;
            left: -5px;
            top: 0px;
            position: absolute;
            transition: all 600ms ease-in-out;
          }
        }

        &.inactive-link:after {
          content: '';
          display: block;
          background-color: $tertiary;
          width: 2px;
          height: 0%;
          left: -5px;
          position: absolute;
          transition: all 200ms ease-out;
        }

        &:hover {
          color: $tertiary;
          transition: all 300ms ease-in-out;

          &:after {
            content: '';
            display: block;
            background-color: $tertiary;
            width: 2px;
            height: 100%;
            left: -5px;
            top: 0;
            position: absolute;
            transition: all 600ms ease-in-out;
          }
        }
      }

      &:last-child {
        display: flex;
        column-gap: 10px;
      }
    }
  }
}
